:root {
    /* colors */
    --white: #ffffff;
    --green: #333d29;
    --coffee: #43281c;
    --vanilla: #f1e3d3;
    --lemon:#fbf2cB;
    --mocha: #7f4f24;
    --tan: #ddb892;
    --blue: #3e88b6;


/* fonts */
--decorative: "Montserrat", sans-serif;
--sans: "Open Sans", sans-serif;

/* font size */
--base-size: 1.2rem;
--scale: 1.25;


--radius: 5px;
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--sans);
    line-height: 1.5;
    background-color: var(--vanilla);
}